#btn-modal{

  display: none;
}

.btn-outline-danger {

    background-color: transparent;
    color: #8b000c;
    border: 1px solid #8b000c;
    transition: all .5s;
}

.btn-outline-danger:hover {

    background-color: #8b000c;
    color: white;
    opacity: 0.8;
}

.image{

  width:100%;
}

.image-center{
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.bottom{

  position: absolute;
  bottom: 0;
}

.dark{ background-color: #dedede;}
.light{ background-color: #fefefe;}
.white{background-color: #fff;}

.transparent{ opacity: 0.8;}
