body{

  background-color: rgb(235,235,235);
}

#canvas{

  height: 100%;
  width: 100%;
}

#btn-modal{

  display: none;
}

.btn-outline-danger {

    background-color: transparent;
    color: #8b000c;
    border: 1px solid #8b000c;
    transition: all .5s;
}

.btn-outline-danger:hover {

    background-color: #8b000c;
    color: white;
    opacity: 0.8;
}

.image{

  width:100%;
}

.image-center{
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.bottom{

  position: absolute;
  bottom: 0;
}

.dark{ background-color: #dedede;}
.light{ background-color: #fefefe;}
.white{background-color: #fff;}

.border-bottom-dark{border-bottom: 1px solid rgb(150,150,150);}
.border-top-dark{border-top: 1px solid rgb(150,150,150);}

.isHidden{display: none;}
.transparent{ opacity: 0.8;}
