@font-face {
   font-family: raleway-light;
   src: url("../utils/fonts/Raleway-Thin.ttf");
}

.text-standard{

  font-family: arial;
  font-size: 15px;
}

.text-node{

  font-size: 12px;
  color: #888;
}

.indent{text-indent: 30px;}

ul {
    padding: 0;
}
