@font-face {
   font-family: raleway-light;
   src: url("fonts/Raleway-Thin.ttf");
}

.text-standard{

  font-family: arial;
  font-size: 15px;
}

.text-header{

  font-family: raleway-light;
  font-size: 7vw;
  color: rgba(100,100,100, 0.7);
}

.text-footer{

  font-size: 35px;
  color: rgba(100,100,100, 0.8);
}

.text-subheader{

  font-family: raleway-light;
  font-size: 3vw;
  color: rgba(100,100,100, 0.7);
}

.text-node{

  font-size: 12px;
  color: #888;
}

.indent{text-indent: 30px;}

ul {
    padding: 0;
}
